.header {
  margin-top: 50px;
}

.main {
  margin-top: 75px;
}

.form-inline .form-group > *:first-child {
   margin: 0 5px 0 20px;
}

table > thead > tr > th {
  background-color: #555;
  color: #FFF;
}
